* {
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

:root {
    --primary-color: #852525;
    --secondary-color: #ffffff;
    --transition-color: blue;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: bold;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-left: 200px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    font-size: 30px;
    margin-right: 200px;
    gap: 100px;
}

header nav ul li:hover {
    color: var(--transition-color);
    transition: 0.5s;
}